
<div id="main_L_content_container">
  <div id="content_page_left">
    <h2 id="CPL_header1">Connect With Friends and the<br />World Around You on Facebook Clone</h2>
      <div id="span1"><%= image_tag("icons8-news-512.png", style: "width:40px;height:40px;")%><b>See photos and updates</b> from friends in News Feed</div><br />
      <div id="span2"><%= image_tag("icons8-last-24-hours-64.png", style: "width:40px;height:40px;")%><b>Share what's new</b> in yur life on your Timeline</div><br />
      <div id="span3"><%= image_tag("icons8-search-bar-50.png", style: "width:40px;height:40px;")%><b>Find more </b>of what you're looking for with Facebook Clone Search</div>
  </div>
  <div id="S_Form_right"><%= render "users/registrations/form" %></div>
</div>
