<div id="landing_nav"><h1 id="main_header">FaceBook Clone</h1><%= render "users/sessions/new", id: "render_sessions" %></div>

<div id="main_L_content_container">
  <div id="content_page_left">
    <h2>Connect With Friends and the<br />World Around You on Facebook Clone</h2>
    
  </div>
  <div id="S_Form_right"><%= render "users/registrations/form" %></div>
</div>
