// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Profile Page */

#cover_photo {
  margin-left: 25%;
}
#cover_photo_pic {
  width: 100%;
  height: 400px;
}
